cmake-build-*/
.idea/**
build/
re_unplayplay.egg-info/
**/__pycache__/**
*.pyc
dist/
sdist/
node_modules/

# ===============================
# C# and .NET Ignore Rules
# ===============================

# Build Folders
**/bin/
**/obj/

# Rider Files
.idea/
*.sln.iml

# Visual Studio Files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates