[cmake]
version = "3.15"
cmkr-include = "cmake/cmkr.cmake"

[project]
name = "re-unplayplay"
languages = ["CXX"]
msvc-runtime = "static"

[options]
RE_UNPP_BUILD_TESTS = false
RE_UNPP_BUILD_PYTHON = false

[target.re-unplayplay]
alias = "unplayplay::lib"
type = "library"
compile-features = ["cxx_std_17"]
compile-definitions = ["NOMINMAX"]
sources = ["src/lib/**.cpp"]
include-directories = ["src/lib/"]
msvc.compile-options = ["/MP"]

[target.re-unplayplay-cli]
type = "executable"
link-libraries = ["unplayplay::lib"]
sources = ["src/bin/**.cpp"]

[fetch-content.GTest]
git = "https://github.com/google/googletest"
tag = "v1.15.2"
condition = "re-unpp-build-tests"

[target.re-unplayplay-tests]
type = "executable"
condition = "re-unpp-build-tests"
sources = ["src/tests/**.cpp"]
include-directories = ["src/tests/"]
link-libraries = ["unplayplay::lib", "GTest::gtest_main"]

[fetch-content.pybind11]
git = "https://github.com/pybind/pybind11.git"
tag = "v2.13.6"
condition = "re-unpp-build-python"

[template.pyd]
type = "shared"
add-function = "pybind11_add_module"
pass-sources = true

[target.re_unplayplay_python]
type = "pyd"
sources = ["src/python/**.cpp"]
condition = "re-unpp-build-python"
